<html>
    <head>
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.css" rel="stylesheet">
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.js"></script>    
        <title>Index</title>
    </head>

    <body class="text-center">
        <div class="container pt-5">
        <h1 class="h1 mb-3 font-weight-normal">Index</h1>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <p>Paste your note here</p>
                    <form method="post" action="/paste">
                        <% if (locals.message) { %>
                            <div class="alert alert-info" role="alert">
                                <%- locals.message %>
                            </div>
                        <% } %>
                        <div class="mb-3 mt-3">
                            <label for="note" class="sr-only">Note</label>
                            <textarea class="form-control" rows="5" name="content" placeholder="Awesome note goes here..."></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Paste</button>
                    </form>
                    <p><a href="/report">Report</a></p>
                    <p><a href="/logout">Logout</a></p>
                </div>
                <div class="col"></div>
              </div>
        </div>
    </body>
</html>