<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAWAWA</title>
</head>
<body>
    <h1>flag 其实就在 /flag 里，但是为什么拿不到呢？</h1>
    <p>如果欢与歌 跟酸与涩 都只是梦一重</p>
    <p>也许我 仍会选择 某个仲夏 再跟你重逢</p>
    <p>直到找回你 赠予我的 被遗落的 珍奇</p>
    <p>让所有 闪光的回忆 不再被时间风化</p>
    <p>人越珍视的 越无价的 幸福越难长留</p>
    <p>只有你 提醒了我 那是圆缺 不是所有</p>
    <p>我总藏匿起 如柠檬般 最酸涩的念头</p>
    <p>但是你 总是能带我找到 沉默的出口</p>
    <p>我想我们终将知道 世上每个人都需要</p>
    <p>让自己变得更加快乐 那件礼物</p>
    <p>那一天的忧郁 忧郁起来</p>
    <p>那一天的寂寞 寂寞起来</p>
    <p>连同着迷这个 炎炎夏日 万般滋味 那个你</p>
    <p>都化作了烙印 在我心底</p>
    <p>挥之不去的柠檬气息</p>
    <p>在晴朗驱散大雨之前都 无法被抹去</p>
    <p>如同嚼下一口柠檬那样 让我难忘记</p>
    <p>你是我永远驻足眺望的 唯一那束光</p>
</body>
</html>